.maplibregl-ctrl-attrib-inner {
  display: none;
}
.maplibregl-ctrl-attrib-button {
  display: none;
}
.maplibregl-ctrl-logo {
  display: none;
}
.maplibregl-compact {
  display: none;
}

.maplibregl-popup-content {
  padding: 0;
  border-radius: 10px;
}

.maplibregl-popup-close-button {
  display: none;
}

.dark .maplibregl-popup-tip {
  border-top-color: #333333;
}

.maplibregl-ctrl-bottom-left {
  display: none;
}

.maplibregl-ctrl-group {
  margin-right: 20px !important;
}
